<%- include('./partials/html-head') %> <%- include('./partials/nav') %>
<link rel="stylesheet" href="/stylesheets/projects/index.css" />

<main>
  <div id="topSpaceBuffer"></div>

  <div id="projectsIndexView">
    <%- include('./partials/projectIndexPartial', { projects: projects}) %>
  </div>

  <%- include('./partials/footer') %>
</main>
