main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 99vh;
}

.info{
  display: flex;
  width: 100%;
}

.cat-pill {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e5d14f;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  margin: 0 5px 0 5px;
}

#topSpaceBuffer {
  height: 100px;
}

#projectsIndexView a {
  text-decoration: none;
  color: black;
}

#projectIndexCard {
  width: 490px;
  height: 590px;
  border-radius: 0 30px 10px 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

#projectIndexCard:hover {
  background-color:white;
}

#projectIndexCard h2{
  padding: 8px 0 0 8px;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  height: 30px;
  color: black ;
}

#project-time-difficulty {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 8px 0 8px;
}

#projectPic {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

#categories {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 8px 0 8px;
}

#ownerAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
