#newProject {
  max-width: 800px;
  margin: auto;
}

.formInput {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
}

.partialFormContainer {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

#materialsList, #toolsList, #buildInstructions, #external-link-container {
  margin-top: 20px;
}

#add-materials-container,
#add-tool-container,
#add-links-container {
  margin-top: 10px;
}

textarea {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
  resize: vertical;
}

#projectPictures {
  margin-top: 10px;
}

#external-links-container {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .partialFormContainer {
    flex-direction: column;
  }
}

#topSpaceBuffer{
  height: 100px;
}