nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: inline;
}

footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 25px;
  align-items: center;
  width: 100%;
  background-color: rgba(246, 201, 1, 0.8);
  margin-top: auto;
}

#nav-main {
  position: fixed;
  top: 0;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color:rgba(209, 179, 87, 0.5); */
  background-color: rgba(246, 201, 1, 0.8);
  width: 100%;
}

#maintitle {
  display: flex;
  flex-direction: row;
}

#profilepic {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

#nav-main a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
  height: 65px;
}

#nav-main a:hover {
  color: black;
}

#nav-main a:active {
  color: black;
}

#nav-main a:link {
  color: black;
}

#nav-main ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
}

#nav-main li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 14px 0 16px;
}
